#footer
    p(class="location") 您的位置是：北京
    p 点赞
    a(class="github-button" href="https://github.com/hxlhxl/lilyzt"  data-icon="octicon-star" data-size="large" data-show-count="true" 
        aria-label="Star hxlhxl/lilyzt on GitHub"
    ) Start
    p @2017 lilyzt.com