#header
    div(class="logo-wrap center")
        a(href="/")
            img(class="logo-img" src=require("sources/img/windows-logo.png") alt="windows-logo" title="微软大法好")
            //- img(class="logo-img" src="//code.visualstudio.com/images/windows-logo.png" alt:="taobao" title="微软大法好")
        p(class="site-motto") 复制粘贴又一天
    div(class="nav")
        a(href="tags.html" class="nav-item center") 标签
        a(href="archive.html" class="nav-item center") 归档
        a(href="about.html" class="nav-item center") 关于