extends include/layout

append config
  - var current = 'index'

block main 
  
  //- hero section
  main.root
    #article
      div(class="posts")
        div(class="post") a
          time
            p(class="month") {{.month}}
            p(class="year") {{.year}}
        div(class="post") b 
        div(class="post") canvas
        div(class="post") datagrid
      p 在妙计真是美好时光
    #nav-utility
      p 你是认真的吗