extends include/layout

append config
  - var current = 'index'

block main 
  
  //- hero section
  .main
    h1
      | Lily x
    p.
      | lily is my  xx
  
  //- main section
  main.main
    h2 What a beautiful day!
    p 
      | p1
    p 
      |p2